params {
  fastaSubsetSize = 7
  blastProgram = "blastp"
  seqFile = "$baseDir/data/AnnotatedProteins.fsa"
  databaseFasta = "$baseDir/data/pdb.fsa"
  preConfiguredDatabase = true
  database = "$launchDir/data/newdb.dmnd"
  dataFile = "blastSimilarity.out"
  logFile = "blastSimilarity.log"
  outputDir = "$launchDir/output"
  blastArgs = ""
  pValCutoff = 1e-5
  lengthCutoff = 1
  percentCutoff = 1
}
process {
  container = 'diamondsim'
}
docker {
    enabled = true
}
